body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #1C0C1C; */
}

input{
    width: 35vw;
    height: 5vh;
    border-width: 0Px;
    font-size: 1rem;
}

h4{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    margin-bottom: -0.5%;
    margin-top: -0.3%;
}
h1{
    display: block;
}

select{
    width: 18vw;
    height: 3vh;
    font-size: 1rem;
}

form{
    /* background-color: #8C224A; */
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

button{
    width: 20vw;
    height: 4vh;
}
